.config_HW_DEBUG_x64
App/App.o
App/Edger8rSyntax/Arrays.o
App/Edger8rSyntax/Functions.o
App/Edger8rSyntax/Pointers.o
App/Edger8rSyntax/Types.o
App/Enclave_u.c
App/Enclave_u.h
App/Enclave_u.o
App/TrustedLibrary/Libc.o
App/TrustedLibrary/Libcxx.o
App/TrustedLibrary/Thread.o
Enclave/Edger8rSyntax/Arrays.o
Enclave/Edger8rSyntax/Functions.o
Enclave/Edger8rSyntax/Pointers.o
Enclave/Edger8rSyntax/Types.o
Enclave/Enclave.o
Enclave/Enclave_t.c
Enclave/Enclave_t.h
Enclave/Enclave_t.o
Enclave/TrustedLibrary/Libc.o
Enclave/TrustedLibrary/Libcxx.o
Enclave/TrustedLibrary/Thread.o
app
enclave.signed.so
enclave.so
